/* Styling */

body {
    background-image: linear-gradient(to top,white 10%,black 80%);
    color: white;
    height: 100vh;
    width: 100%;
}
h2 {
    font-size: 4em;
}

h2 span:nth-child(odd) {
  color: #a10022;
  font-family: 'Rammetto One', arial;
}